<div class="links">
  <div>
    <ul class="nav">
      <li><%= link_to t('app.navigation.home'), root_path, class: "home" %></li>
      <li><%= link_to t('app.navigation.events'), events_path, class: "events" %></li>
    </ul>
  </div>
</div>
